
/* Reset some default styles */
html, body, 
ul, aside {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Icon */
.icon {
    width: 40px;
    height: 40px;
    margin: 0;
    vertical-align: text-top;
    display: inline;
}

.icon-small {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: text-top;
    margin-right: 5px;
    display: inline;
}

/*  */
a {
    text-decoration: none;
    color: inherit;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background:  #D2C7E5;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

header, main {
    display: grid;
    grid-column: 2/3;
}

header {
    grid-template-rows: 1fr 1fr;
    background: #F9ECE3;
}

main {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    align-items: stretch;
}

.Announcements {
    padding-top: 20px;
    grid-column: 2/3;
    justify-content: space-between;
}

.Trending {
    grid-column: 2/3;
}

#projects {
        padding: 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.card-area {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    align-items: end;
}

.Announcements {
    display: flex;
    flex-direction: column;
    height: 600px;
    padding-top: 20px;
}

.Announcements h2 {
    margin-bottom: 10px;
}

.Announcements .feed:last-of-type {
    flex: 1; /* This makes the last feed fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Sidebar */
.sidebar h1 {
    text-align: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}

.sidebar nav ul li {
    padding: 10px;
}

/* header */

header {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.103);
}

header div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.search {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 40px;
}

.search input {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.status { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
}

.status button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
}

.nav-top {
    grid-column: 2/3;
}
.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-top ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-top ul li {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    background-color: #F2D894;
    border-radius: 50px;
    text-align: center;
}


.profile{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 15px;
}
.profile-svg {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.presentation p, .presentation h2 {
    margin: 0px;
    padding: 0px;
}
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* main */

main {
    z-index: -1;
}

/* feeds */

.feed div h2 {
    font-size: small;
}