
/* Reset some default styles */
html, body, 
ul, aside {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background: blue;
    grid-row: 1/3;
}

header, main {
    display: grid;
    grid-column: 2/3;
}

header {
    grid-template-rows: 1fr 1fr;
    background: lightgray;
}

main {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 3fr 1fr;
}

.Announcements {
    padding-top: 20px;
    grid-column: 2/3;
}

.Trending {
    grid-column: 2/3;
}

#projects {
    padding: 20px;
}

.card-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}