
/* Reset some default styles */
html, body, 
ul, aside {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background:  #D2C7E5;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

header, main {
    display: grid;
    grid-column: 2/3;
}

header {
    grid-template-rows: 1fr 1fr;
    background: #F9ECE3;
}

main {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 3fr 1fr;
}

.Announcements {
    padding-top: 20px;
    grid-column: 2/3;
}

.Trending {
    grid-column: 2/3;
}

#projects {
    padding: 20px;
}

.card-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Sidebar */
.sidebar h1 {
    text-align: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}

.sidebar nav ul li {
    padding: 10px;
}

/* header */

header div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.search {
    padding: 15px;
    display: flex;
    gap: 10px;
}

.search button {
    width: 10%;
}

.search input {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.status { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
}

.status button {
    width: 40px;
    height: 40px;
}

.nav-top {
    grid-column: 2/3;
}
.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-top ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-top ul li {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    background-color: #F2D894;
    border-radius: 50px;
    text-align: center;
}